.auto-container {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.auto-main {
    margin-left: 80px;
    margin-right: 80px;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.auto-background{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.auto-background>img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.auto-text {
    position: absolute;
    right: 30px;
    top: 0px;
}

.auto-text img{
    transition: transform .5s ease;
}

.auto-buttons {
    display: flex;
    position: absolute;
    gap: 24px;
    top: 80px;
    left: 80px;
}

@media only screen and (max-width: 768px) {
    .auto-background {
        display: none;
    }
    .auto-main {
        height: 100px;
    }
    .auto-container {
        margin-top: 50px;
        height: 150px;
    }
  }
  
  @media only screen and (max-width: 526px) {
    .auto-buttons {
        flex-direction: column;
        gap: 4px;
    }

    .auto-container {
        height: 200px;
    }
  }