.header {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100%;
}

.header .logo {
  position: absolute;
  margin-left: 10%;
  margin-top: 3%;
}

.header .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 2%;
  width: 100%;
  gap: 64px;
}

.header .menu .item {
  color: white;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .menu {
    margin-top: 80px;
  }
}

.leak-menu {
  display: none;
}

@media only screen and (max-width: 526px) {
  .header .menu {
    display: none;
  }
  .leak-menu {
    display: block;
    position: absolute;
    right: 24px;
    top: 24px;
  }
}
